{{- if .Values.httproutes.http.enabled -}}
{{- $fullName := include "adguard-home.fullname" . -}}
{{- $svcPort := .Values.services.http.port -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}-http
  labels:
    {{- include "adguard-home.labels" . | nindent 4 }}
spec:
  parentRefs:
    {{- toYaml .Values.httproutes.http.parentRefs | nindent 4 }}
  hostnames:
    {{- toYaml .Values.httproutes.http.hostnames | nindent 4 }}
  rules:
    {{- if .Values.httproutes.http.rules }}
    {{- toYaml .Values.httproutes.http.rules | nindent 4 }}
    {{- else }}
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ $fullName }}-http
          port: {{ $svcPort }}
    {{- end }}
{{- end }}
---
{{- if .Values.httproutes.https.enabled -}}
{{- $fullName := include "adguard-home.fullname" . -}}
{{- $svcPort := .Values.services.https.port -}}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}-https
  labels:
    {{- include "adguard-home.labels" . | nindent 4 }}
spec:
  parentRefs:
    {{- toYaml .Values.httproutes.https.parentRefs | nindent 4 }}
  hostnames:
    {{- toYaml .Values.httproutes.https.hostnames | nindent 4 }}
  rules:
    {{- if .Values.httproutes.https.rules }}
    {{- toYaml .Values.httproutes.https.rules | nindent 4 }}
    {{- else }}
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: {{ $fullName }}-https
          port: {{ $svcPort }}
    {{- end }}
{{- end }}
