{{- if .Values.bootstrapEnabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "adguard-home.fullname" . }}
  labels:
    {{- include "adguard-home.labels" . | nindent 4 }}
stringData:
  AdGuardHome.yaml: |-
    {{- toYaml .Values.bootstrapConfig | nindent 4 }}
{{- end }}
